/* noto-sans-jp-300 - japanese_latin */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Noto Sans Japanese Light'), local('NotoSansJapanese-Light'),
        url('../fonts/noto-sans-jp-v24-japanese_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/noto-sans-jp-v24-japanese_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-jp-regular - japanese_latin */
@font-face {
font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 400;
font-display: swap;
src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),
    url('../fonts/noto-sans-jp-v24-japanese_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/noto-sans-jp-v24-japanese_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* material-icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
      url('../fonts/MaterialIcons-Regular.woff') format('woff'),
      url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Materialize custom */

nav {
    background-color: #FFF !important;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.15) !important;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0,0,0,0.15) !important;
}

nav i, nav a {
    color: #888 !important;
}

@media (max-width: 990px) {
    .tab {
        width: calc(100% / 3) !important;
    }
}

@media (min-width: 990px) {
    .tab {
        width: 200px !important;
    }

    .brand-logo {
        margin-left: 100px;
    }
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.tabs.tabs-transparent .indicator {
    background-color: #888 !important;
}

.btn {
    box-shadow: 0 0px 10px 5px rgba(0,0,0,0.1) !important;
    -webkit-box-shadow: 0 0px 10px 5px rgba(0,0,0,0.1) !important;
    border-radius: 30px !important;
}

.btn-flat {
    margin-right: 15px !important;
}

.modal {
    border-radius: 20px !important;
}

/* スタンプページ */
.hj-stamp-qr-button {
    width: 100% !important;
    height: 60px !important;
}

.hj-stamp-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hj-stamp-container div {
    width: 100px;
    box-shadow: 0 0px 10px 5px rgba(0,0,0,0.2) !important;
    -webkit-box-shadow: 0 0px 10px 5px rgba(0,0,0,0.2) !important;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 15px;
}

.hj-stamp-container div img {
    width: 100%;
}

.hj-stamp-container div p {
    text-align: center;
    padding: 10px;
    margin: 0;
}

.hj-stamp-container .space {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.hj-title {
	color: #444;
	font-size: 18px;
	display: flex;
	align-items: center;
}
.hj-title:before, .hj-title:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #444;
	display: block;
}
.hj-title:before {
	margin-right: .4em;
}
.hj-title:after {
	margin-left: .4em;
}

.hj-read-qr-box {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    max-width: 400px;
    margin: 0 auto;
}

.hj-read-qr-box div {
    position: relative;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.hj-read-qr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hj-read-text {
    width: 100%;
    text-align: center;
}

.hj-tap-effect {
    z-index: 9999
}

.hj-stamp-img {
    width: 100%;
    text-align: center;
}

.hj-stamp-img img {
    height: 50vw;
    max-height: 320px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform-origin: 50% 50%;
    animation-duration: 1.5s;
    animation-name: stamp;
    animation-timing-function: ease-in;
}

.hj-stamp-img::before {
    content: "";
    height: 50vw;
    max-height: 320px;
    display: inline-block;
}